<div class="example-container">
  <mat-form-field>
    <mat-select placeholder="Sort by date">
      <mat-option value="option">Ascending</mat-option>
      <mat-option value="option">Descending</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Sort by name">
      <mat-option value="option">a - z</mat-option>
      <mat-option value="option">z - a</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Sort by type">
      <mat-option value="option">pdf</mat-option>
      <mat-option value="option">doc</mat-option>
      <mat-option value="option">csv</mat-option>
      <mat-option value="option">mov</mat-option>
      <mat-option value="option">misc</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Filter by name" />
  </mat-form-field>
</div>
